<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ order.orderdetails.event }} </title>

</head>

<body>


<table style=3D"width:100%" class=3D"">
    <tbody class=3D""><tr class=3D"">
        <td align=3D"center" colspan=3D"2" class=3D"">
            <img src=3D"http://static.gocollabo.in/icons8-verified_account_filled=
                 .png" alt=3D"Ticket confirmed" style=3D"width:180px;height:180px" class=3D"=
            "><p style=3D"font-size:17px;font-weight:bold;padding-right:30px;padding-le=
                 ft:30px" class=3D"">
            Congratulations! Your ticket has been confirmed.
            </p><p style=3D"font-size:13px;color:darkgray;padding-bottom:30px" cl=
                ass=3D"">
            (Please keep this ticket for fast check in)
        </p>
        </td>
    </tr>
    <tr class=3D"">
        <td class=3D""><p style=3D"font-size:30px" class=3D"">
            Lets Play HOLI
        </p>
        </td>
        <td align=3D"right" class=3D""><p style=3D"font-size:13px;margin:5px" c=
                lass=3D"">
            5:00 PM
        </p><p style=3D"font-size:17px;margin:5px" class=3D"">
            March 23, 2019
        </p>
        </td>
    </tr>
    <tr class=3D"">
        <td align=3D"center" colspan=3D"2" class=3D"">
            <img src='cid:{image_name}' alt=3D"QR code for ticket" style=3D" width:300p=
            x;height:300px" class=3D""> <div style=3D"margin: 0px;" class=3D"">
            Ticket code: <strong class=3D"">DNK7M</strong>

            </div>
            =20
        </td>
    </tr>
    <tr class=3D"">
        <td class=3D"">
            =20
            =20
            =20
            =20
            <h4 style=3D"color:#26BEFB;margin:0px" class=3D"">Event</h4><div st=
                                                                                     yle=3D"margin: 0px;" class=3D"">{{ order.orderdetails.event }}</div>
            <br class=3D"">
            =20
            =20
            <h4 style=3D"color:#26BEFB;margin:0px" class=3D"">CUSTOMER</h4><div=
            style=3D"margin: 0px;" class=3D"">{{ order.orderdetails.cust_name }}</div>
            <br class=3D"">
            =20
            =20
            <h4 style=3D"color:#26BEFB;margin:0px" class=3D"">TICKET TYPE</h4><=
            div style=3D"margin: 0px;" class=3D"">Normal</div>
            <br class=3D"">
            =20
            =20
            <h4 style=3D"color:#26BEFB;margin:0px" class=3D"">NO. OF TICKETS</h=
                4><div style=3D"margin: 0px;" class=3D"">6</div>
                <br class=3D"">
                =20
        </td>
        <td align=3D"center" valign=3D"bottom" class=3D"">
            <a href=3D"https://collabo.in/" class=3D"">
                <img src=3D"https://www.collabo.in/logo.png" alt=3D"Collabo" style=
                        =3D"width:51px;height:51px" class=3D"">
            </a>
            <h1 style=3D"margin:0px" class=3D"">Collabo</h1>
        </td>
    </tr>
    =20
    </tbody></table>

</body>
</html>